/* the * indicates universal styles, we will get into that later in the semester
for now, you can leave these alone */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.montserrat{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.Nav {
    text-align: center;
}

.Nav A {
    font-family: montserrat, sans-serif;
    text-decoration: none;
    color: rgb(123, 123, 123);
    margin-right: 10px;
    border-radius: 10px;
    padding: 7px;
    background-color: rgb(24, 25, 40);
}

body {
    padding: 2%;
    border-style: solid;
    border-left-width: 80px;
    border-right-width: 80px;
    border-color: rgb(60, 9, 126);

}

.me {
    margin-left: 40%;
    width: 21%;
}

.entry {
    background-color: rgb(83, 99, 149);
}

.entry a{
    text-decoration: none;
}

.name {
    color: rgb(146, 146, 146);
    text-align: center;
    font-family: montserrat, sans-serif;
}

.intro {
    font-weight: bold;
    font-family: montserrat, sans-serif;
    text-align: center;
}

.titles {
    text-align: center;
    font-family: montserrat, sans-serif;
}
.social {
    font-family: montserrat, sans-serif;
    text-align: center;
    color: rgb(6, 26, 62);
}