/* first, let's follow best practices and cancel out default margins with the universal selector */
* {
margin: 0;
}

/* now we can control our margins ourselves, so lets give the body a 50px margin on the left and right; and a 25px margin on the top and bottom.

can you write it in shorthand?*/

body {
   margin: 25px 50px 25px 50px;
}

/* Find a custom font on Google Fonts and add it to the HTML head and your CSS: make sure you add the links and the font-family */
.share-tech-regular {
  font-family: "Share Tech", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Style the h1:
   10px margin on the bottom
   10px padding on the top and bottom
   15px padding on the right and left
   and a solid black border that is 1px thick
   center the text and make it uppercase in CSS (do not retype it as uppercase in your HTML)
   add a background color with 50% opacity
*/
h1 {
   margin-bottom: 10px;
   padding: 10px 15px 10px 15px;
   border-style: solid;
   border-width: 1px;
   border-color: black;
   text-align: center;
   text-transform: uppercase;
   background-color: rgba(109, 0, 128, 0.5);
}

h2 {
   margin-top: 2.5%;
   margin-bottom: 2.55%;
   background-color: yellow;
   color: black;
   padding: 5px 10px 7px 12px;
   border-width: 7px;
   border-style: dotted;
}

p {
   background-color: blue;
   color: white;
   padding: 5px 5px 5px 5px;
   border-color: black;
   border-style: dashed;
   border-width: 2px;
}

code {
   background-color: white;
   color: green;
   border-width: 1px;
   border-color: black;
   border-style: solid;
   padding: 3px 3px 3px 3px;
}

li {
   background-color: green;
   color: white;
   padding: 3px 5px 4px 6px;
   border-color: red;
   border-style: solid;
   border-width: 1px;
   text-transform: none;
}

a{
   background-color: yellow;
   font-size: 36px;
   color: black;
   border-width: 7px;
   border-style: solid;
   border-color: black;
   text-decoration: none;
   display: block;
}

.blockTo {
   display: inline;
}



